.box {
  border: 1px solid yellow;
  background-color: black;
}

#container {
  padding: 0;
}

.projectile {
  position: absolute;
  background-color: white;
  border: 1px solid;
}

.character {
  position: absolute;
}

#boss {
  background-color: red;
}

#player {
  background-color: #ffa500;
}

li {
 list-style-type: none;
 }